* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.step {
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}

.step:last-child {
  margin-right: 0;
}

.step1-img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step2-img {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step3-img {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-number {
  background-color: #FF9A4B;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

h3 {
  margin: 5px 0 5px;
}

footer {
  height: 50px;
  width:  100%;
  background-color: #AAAAAA;
}